@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: EditorialNew;
  src: url("/src/assets/fonts/PPEditorialNew-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: EditorialNew;
  src: url("/src/assets/fonts/PPEditorialNew-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: EditorialNew;
  src: url("/src/assets/fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: EditorialNew;
  src: url("/src/assets/fonts/PPEditorialNew-UltraboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: EditorialNew;
  src: url("/src/assets/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: EditorialNew;
  src: url("/src/assets/fonts/PPEditorialNew-UltralightItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

@theme {
  --color-white: #f6f6f6;
  --color-dark: #373737;
  --color-grey: #828282;
  --color-lightgrey: #a2a2a2;
  --font-default: "EditorialNew", serif;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: var(--font-default);
  font-weight: 200;
  background-color: var(--color-white);
  color: var(--color-dark);
}

section {
  scroll-margin-top: 100px; /* modern, preferred */
}
